ENV_MONGO_URI=
ENV_JWT_SECRET=change-me
MAX_CONTACTS_PER_USER=5
ENV_TOKEN_ID_SMS=
ENV_TOKEN_SECRET_SMS=
ENV_DOMAIN_NAME=
ENV_MAILGUN_API_KEY=
ENV_MAILGUN_FRIENDLY_NAME=
ENV_MAILGUN_FRIENDLY_EMAIL_PREFIX=
ENV_CONTACT_SERVICE_URL=http://contact_management:8000
ENV_SMS_SERVICE_URL=http://sms_service:8000
ENV_EMAIL_SERVICE_URL=http://email_service:8000
