@view-transition {
    navigation: auto;
}

 @media (max-width: 768px) {
    .container {
    grid-template-columns: 1fr;
    padding: 0 1rem;
      }
    }

html,body {
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    height: 100%;
}


/* Header & Navigation */
    header {
      position: sticky;
      top: 0;
      z-index: 10;
      backdrop-filter: blur(8px);
      background-color:#cb4044;
      border-bottom: 2px solid #ffffff;
    }

    .logo-name {
      font-weight: bold;
      font-size: 20px;
      color: #000000;
    }

    .header-inner {
      max-width: 1100px;
      margin: 0 auto;
      padding: 12px 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
    }

    nav ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      align-items: center;
    }

    nav li {
      display: inline-block;
      font-weight: bold;
    }

    nav a {
      padding: 8px 12px;
      color: white;
      text-decoration: none;
      border-radius: 10px;
      transition: 200ms ease;
    }

    nav a:hover {
      color: white;
      border-color: transparent;
      background-color: #000000;
    }

    .nav-cta {
      border-color: #ffffff;
      background-color: transparent;
    }

    .nav-cta:hover {
      background: #000000;
    }

    /* Footer*/
    .bottom-footer {
      position: fixed;
      background-color:#cb4044;
      color: #ffffff;
      text-align: center;
      padding: 20px;
      margin-top: 40px;
      border-top: 2px solid #ffffff;
      font-size: 0.9rem;
      bottom: 0px;
      left: 0px;
      width: 100%;
    }

    .bottom-footer p {
  margin: 8px;
    }

    .bottom-footer a {
      color: #ffffff;
      text-decoration: underline;
      margin: 8px;
    }

    .bottom-footer ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
    }

   /*Total Alerts card*/
.total-statistics {
    display: flex;
    justify-content: center;
    margin: 30px;
    margin-top: 140px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    width: 120px;
    height: 100px;
}

.total-card {
    padding: 15px 25px;
    border-radius: 8px;
    text-align: center;
    width: 150px;
}

.total-card h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #000000;
}

.total-card p {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #cb4044;
}

 /*Today's alerts styling*/
.today-card {
  padding: 15px 25px;
    border-radius: 8px;
    text-align: center;
    width: 150px;
}
.today-card h3 {
  font-size: 16px;
    margin-bottom: 10px;
    color: #000000;
}

.today-card p {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #cb4044;
}


/*Active alerts table styling*/
.active-card {
  padding: 15px 25px;
    border-radius: 8px;
    text-align: center;
    width: 150px;
}
.active-card h3 {
  font-size: 16px;
    margin-bottom: 10px;
    color: #000000;
}

.active-card p {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #cb4044;
}


table {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    background-color: #01070a;
}
th,td {
    padding: 10px;
    color: #ffffff;
}

th {
    background-color: #01070a;
}


/*Loader*/
.Loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #ffffff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotaaterotate(360deg);}
}