@view-transition {
    navigation: auto;
}

html,body {
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

/*menu styling*/
#nav-container {
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu {
  background-color: #cb4044;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

menu:hover {
  background-color: ffffff;
}

#nav-links {
  list-style: none;
  padding: 10px 0px;
  margin: 5px 0px 0px 0px;
  background-color: #cb4044;
  position: absolute;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 150px;
}

#nav-links li a {
  display: block;
  padding: 10px 15px;
  color: #000000;
  text-decoration: none;
}

#nav-links li:hover {
  background-color: #40cbc7;
}

.nav-hidden {
  display: none;
}

/*Panic button*/
.panic-button {
    background-color: #cb4044;
    color: #ffffff;
    border: 4px solid #ffffff;
    border-radius: 50%;
    padding: 60px 60px;
    font-size: 35px;
    cursor: pointer; 
}

/*Panic button contianer*/
.panic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding-top: 20px;
}

    /* Footer*/
.bottom-footer {
  position: fixed;
  background-color:#cb4044;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  margin-top: 40px;
  border-top: 2px solid #ffffff;
  font-size: 0.9rem;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.bottom-footer a {
  display: inline-block;
  padding: 10px 20px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.bottom-footer ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

/*Loader*/
.Loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #ffffff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}